@model IQueryable<Courses_Registration_System.Models.InstuctorViewModel>

@{
    ViewData["Title"] = "All Instuctor";
}

<h1>All Instuctor</h1>

<p>
    <button asp-action="Create" asp-controller="Instuctor">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 Name
            </th>
            <th>
                 Email
            </th>
            <th>
                 Phone
            </th>
            <th>
                BirthDate

            </th>
            <th>

                Gender
            </th>
            <th>

                Image
            </th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorEmail)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td> 
                <td>
                   @(@item.Gender ? "Male" : "Female")
                </td>

                <td>
                    <img src="~/Files/Photos/@item.PhotoUrl" width="80px" height="80px" />
                </td>

                <td><a  asp-action="Edit" asp-route-id="@item.InstructorId" class="btn btn-success">Edit</a></td>
                <td><a  asp-action="Delete" asp-route-id="@item.InstructorId" class="btn btn-success">Delete</a></td>

               @* <td>
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="AddToStudent" asp-route-id="@item.CourseId">AddCourse</a> |
                    <a asp-action="PutInSchedule" asp-route-id="@item.CourseId">Put Course In a Schedule</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
